body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/background1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#header {
    min-height: 200px;
    max-height: auto;
    margin-bottom: 10px;
    
}
#header-text {
    font-family: 'Crimson Text', serif;
    font-weight: 500;
   color: white;
    position: relative;
    top: 20%;
    font-size: 80px;

}

#button-area {
    width: 100%;
    height: 20%;
    overflow: auto;
    background-color: white;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
   
}

#search-area {   
    height: 100%;   
    margin-bottom: 10px;
}

#gif-area {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 15px;
    min-height: 40%;
    height: auto;
    overflow: auto;
    padding: 15px;
    justify-content: center;
    
}
#search-bar {
    margin: 10px;
    padding-right: 20px;
}

#search-button {  
    margin-bottom: 30px;
}

#search {
    font-size: 20px;
    color: black;
    font-weight: 400;
}

p{
    text-align: center;
    border-bottom: 3px dashed black;
}

#duplicate {
    border: none;
    color: red;
    font-size: 12px;
    visibility: hidden;
    display: none;
    
}
.custom{
    margin-right: 7px;
    padding: 5px;
    min-width: 10%;
    max-width: auto;
    overflow: wrap;
    text-transform: capitalize;
}

#image {
    width: 200px;
    height: 200px;
}

.gif {
    width: 100%;
}
#gif{
    margin-bottom: 30px;
}

.previous {
    margin-bottom: 10px;
}
.card-text {
    background-color: white !important;
}

#movies-area{
 word-break: keep-all;
 
}
#movie-image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.movie-info {
    border: none;
   
}

